@import "variables";
@import "mixins";
@import "bootstrap";

.test {
    color: $main-color;
}

.base-btn {
    width: 100px;
    height: 50px;
}

.concrete-btn {
    @extend .base-btn;

    height: 20px;
}